/* About Us Page CSS
--------------------------------------------------------------*/

.about-us-page {
    padding: 80px 0;
}

.about-us-page .lead {
    font-size: 1.25rem;
    font-weight: 300;
}

.our-core-values {
    padding: 80px 0;
    background-color: var(--white);
}

.value-item {
    text-align: center;
    padding: 30px;
}

.value-item__icon {
    font-size: 3rem;
    color: var(--primary-blue);
    margin-bottom: 20px;
}

.value-item h3 {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.meet-the-team {
    padding: 80px 0;
    background-color: var(--light-gray);
}

.team-member {
    text-align: center;
    margin-bottom: 30px;
}

.team-member img {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.team-member h4 {
    font-size: 1.25rem;
    font-weight: 700;
    margin-bottom: 5px;
}
